.git
.gitignore

__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
*.egg-info/
bot/__pycache__

.vscode/
.idea/

*.log
logs/

Dockerfile
docker-compose.yml
docker-compose.override.yml
.dockerignore

.env
.env.example

README.md
.DS_Store

bot/*
!bot/main.py